<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<!-- <link rel="stylesheet" type="text/css"
	href="../static/css/loginviolet.css" th:href="@{/css/loginviolet.css}" /> -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="../static/css/style1.css"
	th:href="@{/css/style1.css}" />




</head>
</head>
<!-- <body>
	<div class="col-md-6 col-xs-12 spacer col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">

				<form th:action="@{/change}" method="post"
					th:object="${passwordUpdate}">
					<div class="form-group">
						<label>password</label> <input type="password" name="pass1"
							th:field="*{pass1}" /> <br> <label>confirm
							password</label> <input type="password" name="pass1" th:field="*{pass2}" />
					</div>
					<div>
						<button type="submit" class="btn btn-primary">entrer</button>
					</div>


				</form>
			</div>
		</div>
	</div>
</body> -->


<body>

	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
	
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">changer votre mot de passe</h3>


									<form th:action="@{/change}"  id="form" method="post"
					th:object="${passwordUpdate}" class="form">
										<div class="form-group mt-3">
											<input type="password" name="pass1" id="username"
												class="form-control" required th:field="*{pass1}" > <label
												class="form-control-placeholder" for="username">password</label>

										</div>

										<div class="form-group">
											<input id="password" type="password" name="pass1" th:field="*{pass2}"
												class="form-control" required> <label
												class="form-control-placeholder" for="password">Confirm</label>

										</div>

										<div class="form-group">
											<button type="submit"
												class="form-control btn btn-primary rounded submit">entrer </button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/popper.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>


</html>